{% extends "feed/layout.html" %}

{% block title %}<title>{{ feed.title }} - Simple Feed</title>{% endblock %}

{% block style %}
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="feed-view" style="text-align: center;">
        <p id="feed-header">
            <h1 style="font-size: 50px;">{{ feed.title }}</h1>
            <a href="{% url 'profile' user_id=feed.user.id %}">{{ feed.user }}</a>
        </p>
        <p id="feed-description">{{ feed.description }}</p>
        <p id="feed-comment">{{ feed.user_comment }}</p>
        <p id="feed-edit">
            {% if user.is_authenticated %}
                {% if user.id == feed.user.id %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_modal">Edit</button>
                    {% if feed.is_active %}
                        <a class="btn btn-warning" href="{% url 'feed_active' feed_id=feed.id %}">Inactive</a>
                    {% else %}
                        <a class="btn btn-success" href="{% url 'feed_active' feed_id=feed.id %}">Active</a>
                    {% endif %}
                    <a class="btn btn-danger" href="{% url 'feed_delete' feed_id=feed.id %}">Delete</a>
                    {% if feed.is_public %}
                        <a class="btn btn-success" href="{% url 'feed_public' feed_id=feed.id %}">Private</a>
                    {% else %}
                        <a class="btn btn-warning" href="{% url 'feed_public' feed_id=feed.id %}">Public</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </p>
        <div id="items-view">
            {% for item in items %}
                <p>
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 88rem;">
                            <h3 class="card-title" style="margin: 18px 18px 0 18px;">{{ item.title }}</h3>
                            <div class="card-body">
                                <a class="card-text" href="{{ item.url }}">{{ item.url }}</a>
                                {% if item.content %}
                                    <p class="card-text" style="color: grey;">{{ item.content | safe }}</p>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary" href="{% url 'item' item_id=item.id %}">View</a>
                                {% if user.is_authenticated %}
                                    {% if user.id == feed.user.id %}
                                        <a class="btn btn-danger" href="{% url 'item_delete' item_id=item.id %}">Delete</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </p>
            {% empty %}
                <p>
                    No Items!
                </p>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="edit_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Feed</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="new_form">
                        {% csrf_token %}
                        <input type="text" disabled class="form-control" id="feed_id" value="{{ feed.id }}" hidden>
                        <p class="form-group">
                            <label for="feed_title">Feed Title</label>
                            <input type="text" class="form-control" id="feed_title" placeholder="Enter Title" maxlength="64" value="{{ feed.title }}">
                        </p>
                        <p class="form-group">
                            <label for="feed_home">Feed Homepage URL</label>
                            <input type="url" class="form-control" id="feed_home" placeholder="Enter Homepage URL" maxlength="500" value="{{ feed.home_page_url }}">
                        </p>
                        <p class="form-group">
                            <label for="feed_url">Feed URL</label>
                            <input type="url" class="form-control" id="feed_url" placeholder="Enter Feed URL" maxlength="500" value="{{ feed.feed_url }}">
                        </p>
                        <p class="form-group">
                            <label for="feed_description">Feed Description</label>
                            <textarea type="text" class="form-control" id="feed_description" placeholder="Enter Description" maxlength="280">{{ feed.description }}</textarea>
                        </p>
                        <p class="form-group">
                            <label for="feed_comment">Feed Comment</label>
                            <textarea type="text" class="form-control" id="feed_comment" placeholder="Enter Comment" maxlength="280">{{ feed.user_comment }}</textarea>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="edit_button">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.getElementById('edit_button').onclick = () => {
            let id = document.querySelector('#feed_id').value;
            let title = document.querySelector('#feed_title').value;
            let home_page_url = document.querySelector('#feed_home').value;
            let feed_url = document.querySelector('#feed_url').value;
            let description = document.querySelector('#feed_description').value;
            let comment = document.querySelector('#feed_comment').value;
            if (!title && !home_page_url && !feed_url && !description && !comment) {
                alert('Please fill in at least one of the fields!');
                return;
            }
            let csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch('/feed_edit', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrf_token
                },
                body: JSON.stringify({
                    id: id,
                    title: title,
                    home_page_url: home_page_url,
                    feed_url: feed_url,
                    description: description,
                    comment: comment
                })
            })
            .then(response => response.json())
            .then(result => {
                if (result.is_edited) {
                    window.location.reload();
                } else {
                    alert(result.message);
                }
            });
        }
    </script>
{% endblock %}